<div >
    <meta charset = "UTF-8" >

    <form class = "form-search" >
        <div class = "row" >
            <div class = "col-xs-8 col-sm-8" >
                <img alt = "140x140" src = "" id = "vlc"   onclick = "update_div(this);" />
                <div class = "input-group" >

                    <input type = "text" id = "inputtext" placeholder = "输入验证码" class = "form-control search-query" >
                    <span class = "input-group-btn" >
                        <button class = "btn btn-purple btn-sm" type = "button" onclick="submitvlc();">
                            确认
                            <i class = " icon-on-right bigger-110" > </i>
                         </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<script type = "text/javascript" >
    function update_div(obj) {
        url = '/hxbns/changevlc/'
        $.ajax({
            type: "get",
            url: url,
            dataType:'json',
            success: function (dates) {
            },
            error: function () {
            }
        });
        document.getElementById('vlc').src = "/static/images/hxbns/validateCode.png?" + Math.random()
    }

    function submitvlc() {
        $.getJSON('/hxbns/postvlc',{
                vlc:$('input[id="inputtext"]').val()
            });
    }
</script >