<div >
    <meta charset = "UTF-8" >

    <form class = "form-search" >
        <div class = "row" >
            <div class = "col-xs-8 col-sm-8" >
                <img alt = "140x140" src = "" id = "vlc"   onclick = "update_image();" />
                <div class = "input-group" >

                    <input type = "text" id = "inputtext" placeholder = "输入验证码" class = "form-control search-query" >
                    <span class = "input-group-btn" >
                        <button class = "btn btn-purple btn-sm" onclick="submitvlc();">
                            确认
                            <i class = " icon-on-right bigger-110" > </i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<script type = "text/javascript" >
    function update_image() {
        $.ajax({
            type: "get",
            url: '/hxbns/changevlc/',
            dataType:'json',
            error: function () {
                $("#vlc").attr("src","/static/images/hxbns/validateCode.png?" + Math.random());
            }
        });


    }

    function submitvlc() {

        $.ajax({
                    type : "GET",
                    url :'/hxbns/postvlc/',
                    data :{
                        vlc:$('input[id="inputtext"]').val()
                    },
                    timeout:10000,
                    success:function(dates){
                        //alert(dates);
                        $("#main_div").html(dates);//要刷新的div
                    },
                    error: function() {
                         $("#main_div").html(dates);
                    }
                });
    }
</script >